:root {
    --color-primary: #133269;
    --color-secondary: #EFF2F8;
    --color-action: #377EC0;
    --color-white: #fff;
    --color-overlay-primary: rgba(19, 50, 105, 0.85);
    --color-overlay-secondary: rgba(55, 126, 193, 0.81);
    --font-sans: "Trebuchet MS", "Roboto", "Liberation Sans", sans-serif;
    --font-serif: Georgia, 'Times New Roman', Times, serif;
}

html {
font-size: 15px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-serif);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-primary);
    line-height: 1.2;
    font-family: var(--font-sans);
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

ul {
    padding-inline-start: 2.5rem;
}

p, li {
    font-size: 1.2rem;
}

li {
    list-style-type: square;
}

li::marker {
    color: var(--color-primary);
}

button {
    min-width: 80px;
    min-height: 48px;
    margin: 0 0.5rem;
    padding: 0.6rem;
    border: none;
    cursor: pointer;
    font-variant: small-caps;
    font-size: 1.3rem;
    color: var(--color-secondary);
    background-color: var(--color-action);
}

label {
    font-family: var(--font-sans);
}

.button--secondary {
    color: var(--color-action);
    font-size: 1.2rem;
    font-variant: normal;
    text-decoration: underline;
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    position: relative;
}

.left, .right {
    position: relative;
    flex-basis: clamp(10%, 20%, 30%);
    flex-grow: 1;
    background-color: var(--color-primary);
    background-size: cover;
    background-repeat: no-repeat;
}

.left {
    background-image: url('/imgs/madjer.jpeg');
    background-position: center;
}

.right {
    background-image: url('/imgs/champions.jpg');
    background-position: left;
}

.left::before, .right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay-primary);
}

.center {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--color-white);
    max-width: 44rem;
    min-width: 22rem;
}

.header {
    position: sticky;
    top: 0;
    margin-top: 2rem;
}

.header__backg {
    height: clamp(66px, calc(100px - 2vw), 100px);
    text-align: center;
    background-image: url('/imgs/aab__header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__newsletter {
    text-align: center;
    border-bottom: 2px solid var(--color-primary);
    background-color: var(--color-secondary);
}

.newsletter__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    color: var(--color-secondary);
    outline: solid 3px var(--color-secondary);
    outline-offset: -12px;
    cursor: initial;
    background-color: var(--color-primary);
}

.newsletter__content h2 {
    max-width: 460px;
    color: var(--color-secondary);
}

.newsletter__close {
    position: relative;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}

.newsletter__form {
    display: flex;
    flex-direction: column;
}

.newsletter__formGroup {
    margin: 1rem;
}

.newsletter__formGroup label {
    margin-right: 0.3rem;
}

.newsletter__formGroup p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: var(--font-sans);
}

.newsletter__privacy {
    font-size: 1rem;
    text-align: center;
}

.newsletter__modal {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    background-color: var(--color-overlay-secondary);
}

.content {
    padding: 2rem;
}

.quote {
    color: var(--color-primary);
}

.publishing {
    margin-top: 100px;
}

.publishing p {
    font-size: 1rem;
}

.footer {
    text-align: center;
    color: var(--color-primary);
    margin-top: 30px;
}

.footer p {
    margin: 0;
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}